/* Stiziles */

html, body {
  /*background: #222222;*/
  /*width: 80%;*/
  width: 100%;
  height: 100%;
  margin:0 auto;
}

/* transitions */
.transition-wrapper{
  position: relative;
} 
 .lorem {
      position: relative;
      width: 100%;
    }
.carousel-inner>.item{
  overflow: hidden;
  max-height: 800px;
}    
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  min-width: 100%;
  min-height:100%;

}
.JumbotronTpl{
  background-color: #000;
}
.jumbotron{
  padding: 0;
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
background-size: cover;
background-position: center center;
position: relative;

 
}
.bg-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.slider-text-inner{
  position: relative;
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
  height: 100%;

}


.jumbotron p{
   color: #fff
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.Jumbotron-content{
  display: table-cell;
  text-align: bottom;
  height: 800px;

}